<div style="width: 500px; margin: 0 auto">
  <p style="color: #6f6f6f; font-size: 14px">Olá <span style="color: #6f6f6f; font-weight: 700">{{ name }}</span>,</p>
  <p style="color: #6f6f6f; font-size: 14px">Aqui está as instruções para alteração de senha</p>
  <span style="width: 100%; height: 16px; display: block"></span>
  <div style="width: 100%;height: 2px; background: #eee"></div>
  <span style="width: 100%; height: 16px; display: block"></span>
  <p style="color: #6f6f6f; font-size: 14px">Houve uma solicitação de alteração de senha na IZ FIT.</p>
  <p style="color: #6f6f6f; font-size: 14px">Se você não fez essa solicitação, simplesmente ignore.</p>
  <p style="color: #6f6f6f; font-size: 14px">Se você fez essa solicitação, por favor, altere sua senha</p>
  <span style="width: 100%; height: 16px; display: block"></span>
  <div style="margin: auto">
    <a
      style="font-weight: 500; color: #242424; background: #FFC727; text-decoration: none; padding: 16px; border-radius: 8px" 
      href="{{ url }}"
    >Alterar senha</a>
  </div>
  <span style="width: 100%; height: 16px; display: block"></span>
  <span style="width: 100%; height: 16px; display: block"></span>
  <p style="color: #6f6f6f; font-size: 14px">Obrigado,</p>
  <p style="color: #6f6f6f; font-size: 14px">Equipe IZ FIT</p>
</div>

